html,
body {
    height: 100%;
    /* background-color: #25272c; */
    position: relative;
}

/* 側邊欄位背景顏色 */

.content_left {
    z-index: 49;
    width: 250px;
    height: 100vh;
    background-color: #2f3136;
    /* position: relative; */
    position: fixed;
    top: 0;
    left: 0;
}

/* 上方圖案 */
.nav_top {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red;  */
    text-align: center;
}
.nav img {
    /* display: flex; */
    margin-top: 30px;
    margin-bottom: 30px;
    z-index: 55;
    width: 50%;
    /* height: 50%; */
    /* border: 1px solid green; */
}

/* 左側選單 */
.nav_next {
    width: 100%;
    height: 100%;
}

.nav_next ul {
    /* margin-top: 20px; */
    width: 100%;
}

.nav_next ul li {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    /* border: 1px solid red; */
}

.nav_next ul li a {
    display: block;
    font-size: 26px;
    text-decoration: none;
    width: 100%;
    color: #f3f2ef;
    text-align: center;
    font-family: '微軟正黑體';
    height: 40px;
    line-height: 40px;
}

.nav_next ul li a:hover {
    background-color: #f3f2ef;
    color: #2f3136;
}

/* 下方圖片 */
.bottom_img {
    position: absolute;
    left: -165%;
    bottom: -75%;
    width: 100%;
    height: 100%;
    z-index: 50;
    transform: rotate(15deg);
}

.bottom_img:hover {
    left: -120%;
    bottom: -78%;
    transform: rotate(5deg);
}

/* 右側欄位 */
.content_right {
    /* background-color: #25272c; */
    position: absolute;
    top: 0;
    right: 0;
  padding-left: 260px;
    color: #fff;
    /* padding-left: 10px; */
    width: 100%;
}

/* 上方標題 */
.content_right_top {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 65px;
 /* border: 1px solid blue; */
    /* background-color: #f3f2ef; */
    background-color: #ffd46e;
}
.content_right_top p {
    font-size: 35px;
    line-height: 65px;
    color: #2f3136;
    z-index: 75;
    margin-left: 5px;
    font-family: '微軟正黑體';
    font-weight: bold;
    display: inline-block;
    /* border: 1px solid green; */
}

.content_right_top img {
    /* text-decoration: none; */
    display: inline-block;
    width: 40px;
    /* margin-top: 10px; */
    margin-left: 300px;
     /* border: 1px solid red; */
    /* fill: #31560e; */
}


/* 中間標題 */
.content_right_title{
    width: 100%;
    padding-left: 100px;
    margin-bottom: 40px;
    /* padding-top: 120px; */
    font-size: 30px;
    /* border: 1px solid green; */

}

.content_right_title p {
    padding-top: 120px;
    color: #2f3136;
    font-family: '微軟正黑體';
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}


/* 中間表格內容 */

.content_right_table {
    width: 100%;
    /* padding-left: 250px; */
    /* padding-top: 120px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.table_style {
    width: 1200px;
    border: 1px dashed #ffd46e;
    border-collapse: collapse;
    padding: 5px;
    font-family: '微軟正黑體';
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}

.table_style th {
    /* width: 150px; */
    border: 1px dashed #ffd46e;
    padding: 5px;
    background: #ffd46e;
    color: #2f3136;
    font-size: 20px;
    height: 40px;
     vertical-align: middle;
}

.table_style td {
    border: 1px dashed #ffd46e;
    border-bottom: 1px dashed #25272c;
    padding: 5px;
    text-align: center;
    color: #2f3136;
    vertical-align: middle;
}

.table_style td img {
    margin-top: 10px;
    width: 100px;
}

.table_chang_bgc{
    background-color: #f3f2ef;
}

/* 文字測試 */
.content_text p{
    color: #25272c;
    margin: 20px;
    font-size: 30px;