.content_right {
  width: 100%;
  border: 10px solid green;
  position: absolute;
  top: 0;
  right: 0;
  padding-left: 250px;
  color: aliceblue;
}

.content_in {
  border: 10px solid yellow;
  padding: 30px;
  margin: 30px;
  font-size: 50px;
}
