/* 側邊欄 */
.nav_left {
    z-index: 500;
    width: 200px;
    height: 100vh;
    background-color: #2f3136;
    position: fixed;
    top: 0;
    left: 0;
}

/* 左側上方圖案 */
.nav_top {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.nav img {
    margin-top: 25px;
    margin-bottom: 25px;
    z-index: 55;
    width: 50%;
}

/* 左側選單 */
.nav_next {
    width: 100%;
    height: 100%;
    /* overflow-y: auto; */
    border: 1px solid pink;
}

.nav_next ul {
    width: 100%;
}

.nav_next ul li {
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 1px solid red;
    position: relative;
}

.nav_next ul li a {
    display: block;
    font-size: 26px;
    text-decoration: none;
    width: 100%;
    color: #f3f2ef;
    text-align: center;
    font-family: '微軟正黑體';
    height: 40px;
    line-height: 40px;
    border: 1px solid green;
}

.nav_next ul li a:hover {
    background-color: #f3f2ef;
    color: #2f3136;
}

/* 選單第2層 */
.nav_two li ul{
display: none;
position: absolute;
left: 100%;
top:0;
font-size: 10px;
border: 1px solid yellow;
background-color: #2f3136;
}

.nav_two li:hover ul{
    display: block;
}

/* .nav_next  ul li:hover ul{
    display: block;
} */
/* .dropdown-container ul li{
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* .nav_next   li ul li a {
    font-size: 20px;
    line-height: 30px;
    height: 30px;
    width: 60%;
} 

.nav_next  li ul li a:hover{
     background-color:#2f3136 ;
    color: #f3f2ef;
    border-bottom: 2px solid #f3f2ef;
}  */


/* 下方圖片 */
.bottom_img {
    position: fixed;
    left: -15%;
    bottom: -10%;
    width: 500px;
    z-index: 50;
    /* border: 1px solid green; */
    transform: rotate(15deg);
}

.bottom_img img {
    width: 100%;
}

.bottom_img:hover {
    left: -9%;
    transform: rotate(5deg);
}


/* 上方標題 */
.top {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 65px;
    background-color: #ffd46e;
    z-index: 300;
}
.top p {
    font-size: 35px;
    line-height: 65px;
    color: #2f3136;
    z-index: 75;
    margin-left: 5px;
    font-family: '微軟正黑體';
    font-weight: bold;
    display: inline-block;
}

.top img {
    display: inline-block;
    width: 40px;
    margin-left: 250px;
}
