html,
body {
    height: 100%;
    /* background-color: #25272c; */
    position: relative;
}

/* 側邊欄 */
.content_left {
    z-index: 500;
    width: 200px;
    height: 100vh;
    background-color: #2f3136;
    position: fixed;
    top: 0;
    left: 0;
}

/* 左側上方圖案 */
.nav_top {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.nav img {
    margin-top: 25px;
    margin-bottom: 25px;
    z-index: 55;
    width: 50%;
}

/* 左側選單 */
.nav_next {
    width: 100%;
    height: 100%;
}

.nav_next ul {
    width: 100%;
}

.nav_next ul li {
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    /* border: 1px solid red; */
}

.nav_next ul li a {
    display: block;
    font-size: 26px;
    text-decoration: none;
    width: 100%;
    color: #f3f2ef;
    text-align: center;
    font-family: '微軟正黑體';
    height: 40px;
    line-height: 40px;
}

.nav_next ul li a:hover {
    background-color: #f3f2ef;
    color: #2f3136;
}

/* 下方圖片 */
.bottom_img {
    position: fixed;
    left: -15%;
    bottom: -10%;
    width: 500px;
    z-index: 50;
    /* border: 1px solid green; */
    transform: rotate(15deg);
}

.bottom_img img {
    width: 100%;
}

.bottom_img:hover {
    left: -8%;
    transform: rotate(5deg);
}


/* 上方標題 */
.content_right_top {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 65px;
    background-color: #ffd46e;
    z-index: 300;
}
.content_right_top p {
    font-size: 35px;
    line-height: 65px;
    color: #2f3136;
    z-index: 75;
    margin-left: 5px;
    font-family: '微軟正黑體';
    font-weight: bold;
    display: inline-block;
}

.content_right_top img {
    display: inline-block;
    width: 40px;
    margin-left: 250px;
}
