/* 以下內容不留可全刪 */

.content {
  margin-top: 80px;
  margin-bottom: 120px;
  margin-left: 30px;
  margin-right: 30px;
  min-height: 100%;
  background-color: #fff;
}

.content p {
  padding: 10px;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.box1 {
  border: 3px solid #31560e;
}

.box2 p {
  background-color: #f7f4e8;
  font-family: "微軟正黑體";
}

.box3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
}
/* 中間表格內容 */
.content_right_table {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table_style {
  width: 80%;
  border: 1px dashed #31560e;
  border-collapse: collapse;
  padding: 5px;
  font-family: "微軟正黑體";
}

table {
  overflow-x: auto;
}
.table_style th {
  border: 1px dashed #31560e;
  padding: 5px;
  background: #31560e;
  color: #fff;
  font-size: 20px;
  height: 40px;
  vertical-align: middle;
}

.table_style td {
  min-width: 100px;
  border: 1px dashed #25272c;
  padding: 5px;
  text-align: center;
  color: #2f3136;
  vertical-align: middle;
}

.table_style td img {
  margin-top: 10px;
  width: 100px;
}

.table_chang_bgc {
  background-color: #c5dfacfb;
}
