/* 背景圖案 */
.wrap {
    /* background: url(../img/index_img.jpg) no-repeat fixed center right; */
    /* background-size: cover; */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    height: 100vh;
    width: 100vw;
}

.header {
    /* background: url(../img/index_img.jpg)
     no-repeat 
     center right; */
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    height: 100%;
    width: 100%;
}

.header :hover {
    animation: grow 4s linear forwards;
    opacity: 1;
}

.header_top {
    background: url(../img/index_img.jpg) center right;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    /* margin-top: 200px;
    margin-left: 500px; */
}

@keyframes grow {
    0%,
    20% {
        transform: scale(1.2, 1.2);
    }

    /* 75%, 100% {
		transform: scale(1.15);
	} */
}

