html,
body {
  /* position: relative; */
  /* height: 100%; */
}

/* 背景圖案 */
.wrap {
  /* background: url(../img/index_img.jpg) no-repeat fixed center center;
    background-size: cover; */
  /* height: 100%; */
  /* margin: 0 auto; */
  background-color: #f7f4e8;
  margin: 0 auto;
  overflow: hidden;
}

/* 上方選單 */
.content_left {
  /* display: flex;
    flex-direction:row;
    justify-content:flex-start; */
  z-index: 49;
  height: 50px;
  width: 100vw;
  /* height: 100vh; */
  /* background-color: #dde4d9; */
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  /* left: 0; */
  /* position: relative; */
  box-shadow: 1px 1px 1px black;
  /* clear: both; */
}

.nav {
  position: relative;
  width: 100vw;
  /* border: 1px solid green ; */
}

/* 左側選單第1層 */
.nav ul {
  display: flex;
  /* background-color: #0b022b; */
  /* border: 1px solid green ; */
}

.nav ul li {
  /* background-color: #0b022b; */
  padding: 8px;
  margin-bottom: 10px;
  width: 8vw;
}

.nav ul li :hover {
  /* text-decoration:underline; */
  border-bottom: #31560e 3px solid;
}

.nav ul li a {
  /* background-color: #0b022b; */
  background-color: #fff;
  display: inline-block;
  font-family: "微軟正黑體";
  font-weight: bold;
  text-align: center;
  margin-top: 5px;
  height: 25px;
  line-height: 25px;
  width: 100%;
  font-size: medium;
  /* color: #fff; */
  color: #31560e;
  text-decoration: none;
}

.nav ul li a:hover {
  font-size: 18px;
  /* text-decoration:underline; */
}

/* 左側選單第2層 */
.nav_next li {
  position: relative;
  /* border: 5px solid green; */
}
.nav_next li ul {
  /* margin-top: -5px; */
  display: none;
  /* float: none; */
  position: absolute;
  left: 1%; /* 調整位置*/
  top: 40px; /* 向下避免遮住上層 */
  /* width: 10vw; */
  /* background-color: #0b022b; */
  background-color: #31560e;
  /* background-color: #fff; */
  /* border: 5px solid green; */
  width: 8vw;
}

.nav_next li:hover ul {
  display: block;
  /* background-color: #fff; */
}

.nav_next li:hover {
  /* background-color: #fff; */
}

.nav_next li ul li {
  display: block;
  /* float: none; */
  /* background-color: #fff; */
  width: 8vw;
  height: 30px;
  z-index: 50;
  /* padding: -5px; */
}
.nav_next li ul li a {
  /* color: #0b022b; */
  color: #fff;
  background-color: #31560e;
  /* border: 1 solid red; */
}
.nav_next li ul li a:hover {
  /* color: #fff;
  background-color: #0b022b; */
  /* color: #fff; */
  color: #31560e;
  font-size: 18px;
  /* background-color:  #31560e; */
  background-color: #fff;
  /* width: 100%; */
  /* margin: 3px; */
}

/* 左側圖案 */
.nav_img {
  float: left;
  /* padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px; */
  width: 50px;
  height: auto;
  margin-right: 230px;
  margin-left: 120px;
  /* border: 1px solid green; */
  /* background-color: #0b022b; */
  background-color: #fff;
}

.nav_img::after {
  clear: both;
}

/* 搜尋欄位 */
/* .nav input {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  margin-top: 12px;
margin-left: 150px;
  width: 300px;
  height: 25px;
  border-radius: 5px;
} */

/* 上方列標題 */
.nav span {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 200px;
  margin-top: 12px;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* 註冊 / 登入 */
.sing_in {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
}

.sing_in a {
  text-decoration: none;
  display: block;
  margin-right: 30px;
  margin-top: 12px;
  font-family: "微軟正黑體";
  color: green;
  font-size: 20px;
  width: 60px;
  text-align: center;
}

.sing_in a:hover {
  padding-top: 1px;
  border-bottom: 3px solid #31560e;
}

/* 會員頭像 */
/* .log_in{
    position: fixed;
    top:3px;
    right:7%;
    z-index: 70;
  width: 100px;
  height: 100px;
    display: flex;
    justify-content:center; 
    align-items:center;
}

.log_in img{
    width: 100%;
} */

/* 影片 */
.run_video {
  width: 100vw;
  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
video {
  width: 100vw;
}
.video_text {
  /* border: 1px solid green; */
  position: absolute;
  top: 20%;
  left: 35%;
  font-size: 50px;
  color: #fff;
  width: 500px;
  height: 500px;
  text-align: center;
  line-height: 100px;
  /* display: flex;
  justify-content:center; 
  align-items:center; */
}
.video_text p {
  text-align: center;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.video_text img {
  width: 200px;
  /* display: block; */
  margin-top: 100px;
  vertical-align: middle;
}

/* 內容 */
.content {
  z-index: 10;
  font-size: 30px;
  /* padding: 30px; */
  margin-top: 30px;
  width: 100vw;
  position: relative;
}

.content h2 {
  /* text-align: center; */
  color: #31560e;
  font-size: 30px;
  display: block;
  margin-bottom: 10px;
}

.content p{
  font-size: 14px;
}

.content_one{
  background-color: #fff;
  width: 100%;
  padding: 30px;
}

.content_box {
  display: flex;
  justify-content:center; 
  align-items:center;
  width: 100%;
  /* border: 1px solid red; */
  padding: 10px;
  margin: 0 auto;

}

.content_box_shop{
  display: flex;
  justify-content:center; 
  align-items:center;
  /* border: 1px solid red; */
}

.content_box_shop ul {
  display: flex;
  justify-content:center; 
  align-items:center;
}

.content_box_shop ul li{
  margin-left: 35px;
  margin-right: 35px;
  text-align: center;
}

.content_box_shop ul li a{
  text-decoration: none;
}

.content_box_shop ul li span{
  display: block;
  font-size: 20px;
  text-align: center;
  color: #31560e;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content_box_shop ul li p{
  color: #31560e;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content_box_shop img{
  width: 200px;
  /* height: 150px; */
}



/* 頁尾 */
.footer {
  margin-top: 20px;
  background-color: #0b022b;
  height: 100px;
  position: relative;
}

/* 外連結_FB,IG,TW */
.link_out {
  width: 100%;
  /* float: right; */
  /* border: 1px solid blue;  */
  position: absolute;
  bottom: 10px;
  /* right: 0; */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 80;
}
.link_out img {
  width: 50%;
  height: auto;
  margin: 5px;
  margin-top: 10px;
  /* padding-bottom: 20px; */
  /* vertical-align: middle; */
  z-index: 80;
}
