body {
    background-color: #f7f4e8;
    height: 100vh;
}

/* 背景 */
.wrap {
    position: relative;
    background-color: #f7f4e8;
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
    min-height: 100%;
}

/* 上方選單 */
.content_left {
    z-index: 49;
    height: 50px;
    width: 100vw;
    background-color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    box-shadow: 1px 1px 1px black;
}

.nav {
    padding-left: 450px;
    position: relative;
    width: 100vw;
    /* border: 1px solid green ; */
}

/* 選單第1層 */
.nav ul {
    display: flex;
    /* border: 1px solid green ; */
}

.nav ul li {
    padding: 8px;
    margin-bottom: 10px;
    width: 8vw;
}

.nav ul li a {
    background-color: #fff;
    display: inline-block;
    font-family: '微軟正黑體';
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
    height: 25px;
    line-height: 25px;
    width: 100%;
    font-size: medium;
    color: #31560e;
    text-decoration: none;
}

.nav ul li a:hover {
    font-size: 18px;
}

/* 選單第2層 */
.nav_next li {
    position: relative;
    /* border: 5px solid green; */
}
.nav_next li ul {
    display: none;
    position: absolute;
    left: 1%; /* 調整位置*/
    top: 40px; /* 向下避免遮住上層 */
    background-color: #31560e;
    max-width: 8vw;
}

.nav_next li:hover ul {
    display: block;
}

.nav_next li ul li {
    display: block;
    width: 8vw;
    height: 30px;
    z-index: 50;
}

.nav_next li ul li a {
    color: #fff;
    background-color: #31560e;
    /* border: 1 solid red; */
}
.nav_next li ul li a:hover {
    color: #31560e;
    font-size: 18px;
    background-color: #fff;
}

/* 上方固定選單-左側圖案 */
.nav_img {
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    height: auto;
    vertical-align: middle;
    /* margin-left: 150px; */
    margin-left: 8%;
    background-color: #fff;
}
/* 

/* 上方固定選單標題 */
.nav span {
    position: absolute;
    top: 0;
    left: 0;
    /* margin-left: 220px; */
    margin-left: 13%;
    margin-top: 12px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #31560e;
    font-weight: bold;
}

/* 註冊 / 登入 /購物車*/
.shopping_car,
.sing_in {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
}

.sing_in a {
    text-decoration: none;
    display: block;
    margin-right: 30px;
    margin-top: 12px;
    font-family: '微軟正黑體';
    color: #fff;
    background-color: #31560e;
    font-size: 20px;
    width: 80px;
    text-align: center;
    border: 1px solid #31560e;
    border-radius: 20px;
    padding: 3px;
}

.sing_in a:hover {
    /* border-bottom: 3px solid #31560e; */
    color: #31560e;
    background-color: #fff;
    font-weight: bold;
    margin-bottom: 1px;
}

/* 上方欄位文字前方圖示 */
.nav_icon {
    text-decoration: none;
    display: inline-block;
    width: 25px;
    fill: #31560e;
}

.nav_icon img {
    width: 25px;
    vertical-align: middle;
}

/* 購物車圖案 */
.shopping_car a {
    display: block;
    color: #31560e;
    width: 80px;
    text-align: center;
    padding: 3px;
    margin-right: 220px;
    margin-top: 7px;
    font-size: 20px;
}

.shopping_car img {
    width: 30px;
}


/* 頁尾 */
.footer {
    margin-top: 10px;
    background-color: #0b022b;
    height: 100px;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    /* border: 100px solid green; */
    z-index: 75;
}

/* 頁尾文字 */
.footer_text {
    background-color: #0b022b;
    width: 100%;
    position: absolute;
    bottom: 18px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 80;
}

.footer_text p {
    background-color: #0b022b;
    width: 100%;
    text-align: center;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* 外連結*/

.link_out {
    background-color: #0b022b;
    width: 100%;
    position: absolute;
    bottom: 38px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 80;
}

.link_out img {
    width: 50%;
    height: auto;
    margin: 5px;
    margin-top: 10px;
    z-index: 80;
}
