/* 內容 */
.content {
    z-index: 10;
    font-size: 30px;
    /* padding: 30px; */
    margin-top: 50px;
    width: 100vw;
    /* display: flex; */
    position: relative;
}

.content h2 {
    /* text-align: center; */
    color: #31560e;
    font-size: 30px;
    display: block;
    margin-bottom: 10px;
    margin-left: 20px;
}

.content p {
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 20px;
}

.content_one,
.content_two,
.content_four {
    background-color: #fff;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.content_box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* border: 1px solid red; */
    padding: 10px;
    margin: 0 auto;
}
.content_box_youtube,
.content_box_shop {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}

.content_box_youtube,
.content_box_shop ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content_box_shop ul li {
    margin-left: 35px;
    margin-right: 35px;
    text-align: center;
}

.content_box_shop ul li a {
    text-decoration: none;
}

.content_box_youtube,
.content_box_shop ul li span {
    display: block;
    font-size: 20px;
    text-align: center;
    color: #31560e;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.content_box_youtube,
.content_box_shop ul li p {
    /* margin-top: 5px; */
    padding-top: 10px;
    color: #31560e;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content_box_shop img {
    width: 200px;
    /* height: 150px; */
}

.more {
    margin-top: 20px;
    margin-left: 42%;
}
.more a {
    display: block;
    width: 250px;
    height: 50px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #fff;
    border: 1px solid #31560e;
    text-align: center;
    text-decoration: none;
    line-height: 50px;
    color: #31560e;
}

.more a:hover {
    background-color: #31560e;
    color: #fff;
}

/* 內容-直播欄位 */
.content_box_youtube ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content_box_youtube ul li {
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

/* google 地圖 */
.content_three {
    margin-top: 50px;
    background-color: #fff;
    width: 100%;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.google_map {
    display: block;
}

.addr {
    text-align: center;
    width: 700px;
}

/* 圖片-content4 */
.content_four{
 background-color: rgba(255, 255, 255, 0);
}

.content_box_image{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
       flex-wrap:wrap;
       /* border: 1px solid black; */
       width: 100%;
       margin-top: 20px;
       margin-bottom: 20px;
}

.content_box_img{
position: relative;
 width: 100%;
 /* border: 1px solid green; */
 vertical-align: middle;
 text-align: center;
}

.content_img_in_two,
.content_img_in{
    width: 500px;
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
}
.content_img_in{
    float: left;
    margin-left: 100px;
}


.content_img_in_two{
    /* margin-top: -50px;
    margin-right: 50px; */
    margin-right: 100px;
    float: right;
    /* background-color:#fff; */
}

.content_img_in img{

    width: 100%;
    /* border: 1px solid red; */
    clip-path: polygon(0 0, 75% 11%, 99% 86%, 0% 100%);
    position: relative;
}

.content_img_in_two img{
    margin-top: -80px;
    margin-bottom: -80px;
    /* margin-right: 150px; */
    width: 100%;
    clip-path: polygon(23% 7%, 100% 0, 100% 100%, 6% 91%);
    position: relative;
}

.content_img_in_two p,
.content_img_in p{
    /* border: 1px solid yellow; */
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0.911);
    width: 700px;
    /* height: 50px; */
    border-radius: 20px;

}


.content_img_in p{
    position: absolute;
    top: 55%;
    left: 450px;
    padding: 5px;
}


.content_img_in_two p{
    position: absolute;
    top: 55%;
    right: 450px;
    padding: 5px;
}

.clear{
    clear: both;
}


