body{
    background-color: #e7e4de;
}

.wrap {
    background: none;
    position: relative;
}

.content {    
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    padding-left: 200px;
    /* 內容左推避開選單欄位 */
    font-size: 50px;
}

.table{
    margin: 30px;
    padding: 30px;
    border: 1px solid green;
    
}

